<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
             <param-name>javax.ws.rs.Application</param-name>
             <param-value>com.github.hburgmeier.jerseyoauth2.testsuite.rs2.RestApplication</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

 	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/oauth2/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.github.hburgmeier.jerseyoauth2.testsuite.rs2.guice.ContextListener</listener-class>
	</listener>  

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>OAuth2</web-resource-name>
			<url-pattern>/oauth2/auth</url-pattern>
			<url-pattern>/oauth2/allow</url-pattern>
			<url-pattern>/rest/clientAuth</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name>
		</auth-constraint>
	</security-constraint>

     <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>testsuite</realm-name>
    </login-config>
    
	<resource-ref>
		<res-ref-name>jdbc/authds</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>      

</web-app>